<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="save(ngform)" #ngform="ngForm" nonvalidate="">

  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control" type="text" placeholder="Nombre" name='nombre' 
               ngModel [ngModel]="user.name"  minlength="5" required #name="ngModel"> 

        <div *ngIf="name.errors?.required">
          Este campo es requerido
        </div>

        <div *ngIf="name.errors?.minlength">
          Este campo requiere {{ name.errors.minlength.requiredLength }} 
          caracteres como minimo y usted introdujo {{name.errors.minlength.actualLength}}
        </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Apellido" name='apellido'
                ngModel [ngModel]="user.lastname" required #lastname="ngModel">

        <div *ngIf="lastname.errors?.required">
          Este campo es requerido
        </div>

      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input class="form-control" type="email" placeholder="Correo electrónico" name='email'
             [ngModel]="user.email" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required #email="ngModel">
      <div *ngIf="email.errors?.required">
        Este campo es requerido
      </div>
      <div *ngIf="email.errors?.pattern">
        No es un email valido
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>